<h1>Fomularz tworzenia</h1>
<div class="menu-form-buttons">
  <button mat-raised-button color="primary" (click)="activateDebug()">Debug mode {{debugModeType}}</button>
  <div>
    <button mat-raised-button color="accent" (click)="saveCustomForm()">Zapisz formularz</button>
    <input type="file" (change)="loadCustomForm($event)"/>
  </div>
  <input type="file" (change)="handleFileInput($event)" multiple accept="image/png, image/gif, image/jpeg"/>
  <button mat-raised-button color="accent">Start</button>
</div>


<mat-card class="main-form">


  <form [formGroup]="form" formArrayName="formArr">
    <div class="form-controls-buttons">
      <button mat-raised-button color="primary" (click)="addFormContainer()">Dodaj pole formularza</button>

      <button mat-raised-button color="primary">Dodaj własny typ formularza</button>

    </div>
    <div class="form-controls-container" *ngFor="let el of ngcontainer">
      <!--><div class="form-controls-container" *ngFor="let el of formArr.controls;index as idx"></div>-->


      <mat-card class="form-array-el mat-elevation-z8">

        <mat-form-field class="form-field-array">
          <mat-label>Nazwa zmiennej</mat-label>
          <!--input formControlName="nameOfVar" type="text"  matInput placeholder="Np. Pesel"-->
          <input formControlName="nameOfVar" type="text" value="{{el.nameOfVar}}" matInput placeholder="Np. Pesel">
          <mat-hint>Własna nazwa!</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Typ zmiennej" (selectionChange)="selectedValue($event,el.id)">
            <ng-container  *ngIf="taxonomyVariableType | async as list">
              <mat-option *ngFor="let item of list" [value]="item.idType">
                {{ item.valueType }}
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-hint>Rodzaj odpowiedni!</mat-hint>
        </mat-form-field>
        <div>
          <mat-card>
            <!--input formControlName="value" /-->
            {{el.value}}
          </mat-card>

          <button mat-raised-button color="primary" (click)="scanOCR(el.id)">Kliknij aby zeskanować</button>
        </div>
        <!--
   
 
        <img class="img-pre-view-part"  [src]="croppedImages"
          alt="wycięty podglą">
          -->



      </mat-card>
    </div>


  </form>

  <div class="form-img-view">
    <image-cropper [imageFile]="imageChangedEvent" [maintainAspectRatio]="false" [aspectRatio]="4 / 4"
      [resizeToWidth]="256" format="png" (imageCropped)="imageCropped($event)">
    </image-cropper>
    <p>
      <button mat-icon-button color="accent" (click)="onClickChangeImage(-1)" >
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      Obraz {{currentImage}} z {{lastImage}}
      <button mat-icon-button color="accent" (click)="onClickChangeImage(1)">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>

    </p>
    
  </div>

</mat-card>